{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card col-4 m-3 mx-auto shadow-lg border-0">
    <div class="card-header gradient-text fw-bold fs-4">
      📧 Восстановление пароля
    </div>
    <div class="card-body">
      <p>Введите email для получения ссылки сброса пароля.</p>
      <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
  </div>
{% endblock %}
