{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center min-vh-50">
    <div class="card logout-card shadow-lg border-0 text-center p-4">
      <div class="card-header gradient-text fw-bold fs-4">
        ✅ Пароль успешно изменён
      </div>
      <div class="card-body">
        <a href="{% url 'courses:course_list' %}" class="btn custom-btn-outline mt-3 w-100">
          ⬅ На главную
        </a>
      </div>
    </div>
  </div>
{% endblock %}
