{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Добавить сертификат
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-light shadow rounded-4">
        <div class="card-header border-bottom border-secondary text-center fs-4">
          ➕ Добавить сертификат
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout="vertical" %}
            <div class="d-flex justify-content-end mt-3">
              <button type="submit" class="btn btn-success">
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
