{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Редактирование урока
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-secondary bg-dark text-light shadow">
          <div class="card-header border-bottom border-secondary">
            <h4 class="mb-0">Редактирование урока {{ lesson.title }}</h4>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form layout='vertical' %}
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
