{% extends "base.html" %}

{% block title %}Удалить курс: {{ object.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card bg-dark text-light p-4 rounded shadow-sm mx-auto" style="max-width: 600px;">
    <h2 class="mb-4 text-center text-danger">Подтверждение удаления</h2>
    <p class="fs-5 text-center">
      Вы действительно хотите удалить модуль <strong>{{ object.title }}</strong>?
      Это действие нельзя будет отменить.
    </p>
    <form method="post" class="text-center mt-4">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-lg rounded-pill px-4 me-3">Удалить</button>
      <a href="{% url 'courses:course_detail' object.course.pk %}"
       class="btn btn-secondary btn-lg rounded-pill px-4">
        Отмена
      </a>
    </form>
  </div>
</div>
{% endblock %}
